{{define "body"}}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>{{.data.Message}}<br>
        <form action="acts" method="get">
        <button type="submit" class="btn btn-primary">Вернуться</button>
      </form>
      </div>
    </div>
  </div>
</div>
{{end}}